<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Metrics</title>
    </head>
    <body>
        <div>
            <h2>Metrics</h2>
                {{if .}}
                    <ul>
                        {{range .}}
                        <li>
                            <div>
                                {{ if .Delta }}
                                    <b>Counter {{ .Name }}</b>: {{ .Delta }}
                                {{else}}
                                    <b>Gauge {{ .Name }}</b>: {{ .Value }}
                                {{end}}
                            </div>
                        </li>
                        {{end}}
                    </ul>
                {{else}}
                    <div>Empty</div>
                {{end}}
        </div>
    </body>
</html>
